asgiref==3.8.1
bandit==1.8.3
Django>=5.0.0
django-cors-headers>=4.3.1
graphene==3.4.3
graphene-django>=3.2.0
graphql-core==3.2.6
graphql-relay==3.2.0
markdown-it-py==3.0.0
mdurl==0.1.2
pbr==6.1.1
promise==2.3
psycopg2-binary>=2.9.9
Pygments==2.19.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rich==14.0.0
setuptools==78.1.0
six==1.17.0
sqlparse==0.5.3
stevedore==5.4.1
text-unidecode==1.3
typing_extensions==4.13.2
django-graphql-jwt==0.4.0
librosa>=0.11.0
Pillow>=10.2.0  
graphene-file-upload>=1.3.0
dj-database-url==2.3.0